body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

.hidden {
  overflow: hidden;
  display: none !important;
}
.navbar-light .navbar-toggler {
  color: #fff !important;}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.animate__fadeIn {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.bg-light {
  background: #142749;
}

.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  text-align: center;
}

.navbar {
  background: #142749;
}

.navbar-nav a,
.navbar-brand {
  font-family: "Bebas Neue", cursive;
  font-size: 24px !important;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  opacity: 0.5;
}

.navbar-toggler {
  outline: none;
}
.navbar-toggler .fa-bars {
  font-size: 30px;
}

.navbar-expand-lg .navbar-collapse {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.animate__fadeIn {
  font-family: "Bebas Neue", cursive;
  font-size: 34px !important;
}

.container-fluid button.navbar-toggler {
  border-color: transparent;
}

.col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contains {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 10px;
}
.contains .btn {
  color: white;
  border-color: black;
  max-width: 200px;
  min-width: 100px;
  font-size: 1.6rem;
}

#About-Us {
  background-color: #999497;
  padding: 8%;
}
#About-Us .containerxd {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: "Bebas Neue", cursive;
  font-size: 34px !important;
  margin: 0px;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.col i {
  font-size: 200px;
  margin-bottom: 60px;
}

i {
  text-align: center;
}
i img {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Bebas Neue", cursive;
}

#carousel {
  padding: 5% 5%;
  height: 340px;
  text-align: center;
}
#carousel h2 {
  margin-top: 20px;
  font-size: 40px;
}
#carousel p {
  font-size: 20px;
}

.carousel-item .img-cont {
  width: 200px;
  margin: 0 auto;
}
.carousel-item .img-cont img {
  border-radius: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  width: inherit;
}

#pricing {
  background-color: #999497;
  text-align: center;
}
#pricing h2 {
  padding-top: 20px;
}

.containers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.div-card {
  background-color: #EC6120;
  width: 300px;
  padding: 20px;
  margin: 30px;
  border-radius: 12px;
  border: 3px solid white;
  text-align: center;
  font-family: "Bebas Neue", cursive;
}

.card-title {
  font-size: 2rem;
  color: white;
  background: #400c0c;
  border-radius: 12px;
}

.div-card p {
  font-size: 1.3rem;
}

#pricing .btn {
  width: 100%;
}

.btn a {
  color: white;
  text-decoration: none;
}

.btn:hover a {
  color: black;
}

.btn-outline-secondary {
  background-color: wheat;
}

footer .container-fluid {
  text-align: center;
  width: auto;
  background: #142749;
  color: white;
  padding: 10px;
}
footer .container-fluid .fab {
  margin: 3px;
}
footer .container-fluid p {
  margin: 0;
}

#calculate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 100%;
  text-align: center;
  margin: 20px;
  min-height: 100%;
  position: relative;
  padding-bottom: 100px !important;
}
#calculate label {
  font-size: 2rem;
  margin: 20px;
}
#calculate select, #calculate input {
  outline: none;
  border: 1px solid brown;
  font-size: 1rem;
  padding: 5px;
  text-align: center;
}
#calculate input {
  margin-bottom: 20px;
}
#calculate label, #calculate button, #calculate input, #calculate h2 {
  font-family: "Bebas Neue", cursive;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#time {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  background: #EC6120;
  color: white;
}

.btncont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}

@media (max-width: 900px) {
  .div-card:last-of-type {
    width: 660px;
  }
}
@media (max-width: 600px) {
  .text {
    font-size: 20px;
    text-align: center;
  }

  .btn {
    font-size: 1rem;
  }

  .div-card:last-of-type {
    width: 300px;
  }
}
