$color1 : #FF3374;
$color2 : #FF7D33;
$color3 : #142749;
$color4 : #999497;
$color5 : #EC6120;
$color6 : #80718F;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html, body {
  height: 100%;
}

.hidden {
  overflow: hidden;
  display: none !important;
  ;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.animate__fadeIn {
  animation-duration: 1s;
}

.bg-light {
  background: $color3;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  text-align: center;
}

.navbar {
  background: $color3;
}

.navbar-nav a,
.navbar-brand {
  font-family: 'Bebas Neue', cursive;
  font-size: 24px !important;
}


.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  opacity: 0.5;
}

.navbar-toggler {
  outline: none;

  .fa-bars {
    font-size: 30px;
  }
}


.navbar-expand-lg .navbar-collapse {
  flex-grow: 0;
}

.animate__fadeIn {
  font-family: 'Bebas Neue', cursive;
  font-size: 34px !important;
}

.container-fluid button.navbar-toggler {
  border-color: transparent;
}

.col {
  flex-direction: column;
}

.contains {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;

  .btn {
    color: white;
    border-color: black;
    max-width: 200px;
    min-width: 100px;
    font-size: 1.6rem;
  }
}

#About-Us {
  background-color: $color4;
  padding: 8%;

  .containerxd {
    justify-content: flex-start;
    font-family: 'Bebas Neue', cursive;
    font-size: 34px !important;
    margin: 0px;
  }
}

.col {
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    font-size: 200px;
    margin-bottom: 60px;
  }
}

i {
  text-align: center;

  img {
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Bebas Neue', cursive;
}


#carousel {
  padding: 5% 5%;
  height: 340px;
  text-align: center;

  h2 {
    margin-top: 20px;
    font-size: 40px;
  }

  p {
    font-size: 20px;
  }
}




.carousel-item .img-cont {
  width: 200px;
  margin: 0 auto;

  img {
    border-radius: 100%;
    object-fit: contain;
    width: inherit;
  }
}


#pricing {
  background-color: $color4;
  text-align: center;

  h2 {
    padding-top: 20px;
  }
}

.containers {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.div-card {
  background-color: $color5;
  width: 300px;
  padding: 20px;
  margin: 30px;
  border-radius: 12px;
  border: 3px solid white;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
}



.card-title {
  font-size: 2rem;
  color: white;
  background: #400c0c;
  border-radius: 12px;
}

.div-card p {
  font-size: 1.3rem;
}

#pricing .btn {
  width: 100%;
}

.btn a {
  color: white;
  text-decoration: none;
}

.btn:hover a {
  color: black;
}

.btn-outline-secondary {
  background-color: wheat;
}


footer .container-fluid {
  text-align: center;
  width: auto;
  background: $color3;
  color: white;
  padding: 10px;
  .fab {
    margin: 3px;
  }
  p {
    margin: 0;
  }
}


#calculate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  text-align: center;
  margin: 20px;
  min-height: 100%;
  position: relative;
  padding-bottom: 100px !important;
  label {
    font-size: 2rem;
    margin: 20px
  }

  select, input {
    outline: none;
    border: 1px solid brown;
    font-size: 1rem;
    padding: 5px;
    text-align: center;
  }
  input {
    margin-bottom: 20px;
  }
  label, button, input, h2 {
  font-family: 'Bebas Neue', cursive;

  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#time {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  background: $color5;
  color: white;
}

.btncont {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

@media (max-width: 900px) {

  .div-card:last-of-type {
    width: 660px;
  }
}

@media (max-width: 600px) {
  .text {
    font-size: 20px;
    text-align: center;
  }

  .btn {
    font-size: 1rem;
  }

  .div-card:last-of-type {
    width: 300px;
  }
}